<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gracias</title>
    <link rel="stylesheet" href="../static/css/style.css" />
</head>
<body>
    <main class="main" style="height: 100vh; display: flex; justify-content: center; align-items: center;">
        <div class="formulario-resultados form-yo" style="max-width: 600px; text-align: center;">
            <h2 class="formulario-resultados__titulo" style="color: #cc8bf2; margin-bottom: 20px;">¡Gracias!</h2>
            <p class="formulario-resultados__campo form-yo2">Gracias por visitar mi portafolio</p>
            <a href="/" class="form__button" style="display: inline-block; text-decoration: none; margin-top: 20px;">Volver al inicio</a>
        </div>
    </main>
</body>
</html>